/* Add a border to the navigation div */
.topnav {
    border-bottom: 1px solid #555;
}

/* Remove the bullets, margin and padding from the list */
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display all list items on the one line */
li  {
    display: inline;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #03fc5e;
    color: black;
}