/* Add a border to the navigation div */
.topnav {
    height: 25%;
    border-bottom: 1px solid #555;
}

#ffflogo {
    height: 20%;
}

/* Remove the bullets, margin and padding from the nav list */
.ulnav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Display all list items on the one line */
.linav  {
    display: inline;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #03fc5e;
    color: black;
}

.topnav .search-container {
    float: right;
}

/* Define the flex container */
.container-1  {

}

.container-1 div {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding: 10px;
}

/* Test the use of the Google Font, Open Sans */
p   {
    font-family: 'Open Sans', sans-serif;
}

/* Test the use of the Google Font, Oswald */
h1  {
    font-family: 'Oswald', sans-serif;
}

/* Use of the Google Font, Oswald */
h2  {
    font-family: 'Oswald', sans-serif;
}

/* Define the footer */
.footer {
    border-top: 1px #ccc solid;
    padding: 10px;
}