/* Add a border to the navigation div */
.topnav {
    display: flex;
    height: 25%;
    border-bottom: 1px solid #555;
}

/* Styling the links */
a:link {
    text-decoration: none;
    color: white;
}

/* Style visited links */
a:visited {
    color: #1a1a1a;
}

/* Style hovered links */
a:hover {
    color: #00c2c4;
}


/* Style the topnav-box-1 */
.topnav-box-1 {
    height: 10%;
}

/* Style the topnav-box-1 img */
.topnav-box-1 img {
    
    object-fit: cover;
}

/* Style the topnav search-container */
.topnav .search-container {
    float: right;
}

/* Style the FoodFitFast logo */
#ffflogo {
    height: 50;
    width: 50;
}

/* Style the subnav-content-1 */
.subnav-content-1 {
    display: none;
}

/* Style the subnav-content-2 */
.subnav-content-2 {
    display: none;
}

/* Open subnav-content-1 on mouse hover over the subnav container */
.subnav:hover .subnav-content-1 {
    display: block;
}

/* Open subnav-content-2 on mouse hover over the subnav-content-1 container */
.subnav-content-1:hover .subnav-content-2 {
    display: block;
}

/* Style the flexbox container */
.container-1 div {
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding: 10px;
}

/* Style the h2 tag of calendar-h */
.calendar-h h2 {
    text-align: left;
}

/* Style the td of calendar-tw */
.calendar-tw td{
    font-size: 18px;
}

/* Style the th for "this week" attribute of table-time */
[table-time="this week"] th {
    background-color: #8DC63F;
}

/* Style the header attribute of table-info */
[table-info="header"] {
    font-weight: bold;
}

/* Style the th for "this month" attribute of table-time */
[table-time="this month"] th {
    background-color: #8DC63F;
}

/* Style calendar-tw */
.calendar-tw {
    background-color: #ededed;
}

/* Style calendar-tm */
.calendar-tm {
    background-color: #ededed;
    table-layout: fixed;
    width: 1190px;
}

/* Style calendar-tm */
.calendar-tm td{
    table-layout: fixed;
    width: 170px;
    height: 120px;
    font-size: 18px;
    vertical-align: top;
}

/* Style reviews table */
.reviews {
    background-color: #ededed;
}

/* Style reviews stars*/
[content="star"] {
    font-size: 32px;
    background-color:  #8DC63F;
}

/* Style reviews td*/
.reviews td {
    font-size: 18px;
} 

/* Style the h1 tag of box-1 */
.box-1 h1 {
    text-align: center;
}

/* Style the box-2 container */
.box-2 {
    background-color: #ededed;
}

/* Style the p tag of box-2 */
.box-2 p {
    text-align: center;
}

/* Style the morning-exercise-box */
.morning-exercise-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the img tag of box-3 */
.box-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the box-4 container */
.box-4 {
    background-color: #ededed;
}


/* Style the h2 tag of box-4 */
.box-4 h2 {
    text-align: center;
}

/* Style the img tag of box-4 */
.box-4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the h2 tag of box-5 */
.box-5 h2 {
    text-align: center;
}

/* Zoom p tags of jim-training-box */
.jim-training-box:hover p{
    transform: scale(1.25);
}

/* Style the img tag of box-5 */
.box-5 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the box-6 container */
.box-6 {
    background-color: #ededed;
}

/* Style the box-8 container */
.box-8 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the box-9 container */
.box-9 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the box-10 container */
.box-10 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

/* Style the buttons */
button {
    background-color: #3dff6a;
    border: none;
    color: #1a1a1a;
    padding: 15px 15px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

/* Style hovered buttons */
button:hover {
    color: #00c2c4;
}

/* Hover behaviour on button */
button:hover {
    cursor: pointer;
}

/* Style the button tags of the account-box */
.account-box button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Test the use of the Google Font, Open Sans */
p   {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Test the use of the Google Font, Oswald */
h1  {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Use of the Google Font, Oswald */
h2  {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Style the h3 tags */
h3  {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

/* Style the table */
table {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 22px;
}

/* Style the account-box div */
.account-box {
    background-color: #ededed;
}

/* Style the footer */
.footer {
    border-top: 1px #ccc solid;
    padding: 10px;
}

/* Style the p tags of the footer */
.footer p {
    text-align: center;
}

/* ######### Style registration form and sign up page ###############*/
.page-wrapper {
    background: -webkit-gradient(linear, left bottom, left top, from(#007236), to(#8DC63F));
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
}

.form-card { 
    border-radius: 10px;
    padding: 45px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.form-row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-col-2 {
    width: calc(100% / 2);
    padding-bottom: 3%;
}

.form-label-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.form-radio-label-style {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    padding-right: 5px;
}

.form-radio-label-style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-radio-label-style input:checked ~ .checkmark {
    background-color: #d8d8d8;
}
  
.form-radio-label-style input:checked ~ .checkmark:after {
    display: block;
}

.form-radio-label-style .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:  #3dff6a;
}
  
.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d8d8d8;
    border-radius: 50%;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  

.form-input-style {
    line-height: 30px;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    padding: 0 20px;
    font-size: 14px;
    border-radius: 5px;
    color: #666;
}

.form-title {
    font-size: 22px;
    font-weight: normal;
}

.form-button {
    padding-top: 3%;
}

.form-button-style {
    display: inline-block;
    border-radius: 3px;
    width: 30%;
    
}

.form-select-style {
    width: 90%;
    outline: none;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 30px;
}

.form-select-style-state {
    width: 80%;
    outline: none;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    height: 30px;
    border-radius: 10px;
}

/* ##################################################################*/
